<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PAINT</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

        <audio id="player"></audio>

        <canvas class="whiteboard"></canvas>

        <div class="colors">
            <div class="color black"></div>
            <div class="color red"></div>
            <div class="color green"></div>
            <div class="color blue"></div>
            <div class="color yellow"></div>
            <div class="del"></div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/socket.io-stream.js"></script>
        <script src="/hammer.min.js"></script>
        <script src="/main.js"></script>
    </body>
</html>
